@page "/about"
<PageTitle>About</PageTitle>


<br>
<h2>About Us</h2><br>
<h3> The Team:</h3>
<ul>
    <li>Kerri Morris</li>
    <li>Roguin Espinal</li>
    <li>Erik Burton</li>
    <li>Mitchel Drennan</li>
    <li>David Valentine</li>
</ul>
<p><b>Book Me is an open-source model for a car rental service that provides a seamless vehicle rental experience. <br> Features: </b></p>
<ul>
    <li>We offer a wide range of vehicles to suit your needs.</li>
    <li>Our platform is user-friendly and easy to navigate.</li>
    <li>Open registration and authentication</li>
    <li>End-to-end vehicle management for a hassle-free experience.</li>
    <li>End-to-end booking management for a hassle-free experience.</li>
    <li>Real-time availability and pricing information.</li>
    <li>Account </li>
</ul>

<p><a href="https://github.com/kkmorrisfam/CSE325-team/blob/main/README.md">Project Documentation</a></p>