@page "/about"
<PageTitle>About</PageTitle>
<h1>About Us</h1>
<p>Welcome to Book Me.</p>
<p>Book Me is an open-source car rental service that provides a seamless booking experience.</p>
<ul>
    <li>Our mission is to make car rental accessible and convenient for everyone.</li>
    <li>We offer a wide range of vehicles to suit your needs.</li>
</ul>
<p> The Team:</p>
<ul>
    <li>Kerri Morris</li>
    <li>Roguin Espinal</li>
    <li>Erik Burton</li>
    <li>Mitchel Drennan</li>
    <li>David Valentine</li>
</ul>
<p><a>View Project Documentation</a></p>