@page "/TestUserEdit"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Identity
@using CSE325_team.Data  

@inject AuthenticationStateProvider AuthStateProvider
@inject UserManager<ApplicationUser> UserManager
@inject ApplicationDbContext DbContext

<p>Live Preview: @Input.FirstName</p>

<EditForm Model="Input" OnSubmit="SaveChanges" FormName="TestEdit" @key="Input">
    <DataAnnotationsValidator/>
    <ValidationSummary />

    <h3>Test Edit Profile</h3>

    <div class="form-group">
        <label for="FirstName">First Name</label>
        <InputText id="FirstName" @bind-Value="Input.FirstName" class="form-control" />        
    </div>
    <div class="form-group">
        <label for="LastName">Last Name</label>
        <InputText id="LastName" @bind-Value="Input.LastName" class="form-control" />
    </div>
    <div class="form-group">
        <label for="PhoneNumber">Phone Number</label>
        <InputText id="PhoneNumber" @bind-Value="Input.Phone" class="form-control" />
    </div>
    <div class="form-group">
        <label for="AltPhoneNumber">Alternate Phone Number</label>
        <InputText id="AltPhoneNumber" @bind-Value="Input.AltPhone" class="form-control" />
    </div>
    <div class="form-group">
        <label for="City">City</label>
        <InputText id="City" @bind-Value="Input.City" class="form-control" />
    </div>

    <button class="btn btn-primary" type="submit">Save Changes</button>

</EditForm>


@code {

    //create instance of class to use, set it as a property with {get;set} so it can be updated with binding
    [SupplyParameterFromForm]
    private InputModel Input {get;set;} = new();
    private bool _initialized = false;

   // update user when submit button clicked
    private async Task SaveChanges()
    {
        
        //get user again
        var authState = await AuthStateProvider.GetAuthenticationStateAsync();
        var user = await UserManager.GetUserAsync(authState.User);

        //check for null user before continuing
        if (user is null) return;
        
        Console.WriteLine("***************************************");
        Console.WriteLine("User before update: " + user.FirstName);
        Console.WriteLine("User after update: " + Input.FirstName);


        //update user databae fields with data in Input fields
        user.FirstName = Input.FirstName;
        user.LastName = Input.LastName;
        user.PhoneNumber = Input.Phone;
        //send user to database for update
        var result = await UserManager.UpdateAsync(user);
        if (!result.Succeeded)
        {
            foreach (var error in result.Errors)
            {
                Console.WriteLine($"User Update error: {error.Description}");
            }
        }



        //get or create a contact for user
        var contact = await DbContext.Contact.FirstOrDefaultAsync(c=>c.ApplicationUserId == user.Id);
        //create new contact if not already there
        if (contact is null)
        {
            contact = new Models.Contact {ApplicationUserId = user.Id};
            DbContext.Contact.Add(contact);
        }
        else
        {
            DbContext.Entry(contact).State = EntityState.Modified;
        }

        //add data from input fields into database
        contact.City = Input.City;
        contact.AltPhoneNumber = Input.AltPhone;
        //save data to database
        await DbContext.SaveChangesAsync();

    }


    //OnInitializedAsync method to fetch user with matching id
    protected override async Task OnInitializedAsync()
    {
        //don't reset data
         @* if (_initialized) return; // don't reset input on every render
            _initialized = true; *@

            
        //get authentication state, get authorized user
        var authState = await AuthStateProvider.GetAuthenticationStateAsync();
        var user = await UserManager.GetUserAsync(authState.User);
        //check for null user before continuing
        if (user is null) return;

        //get contact information attached to user
        //user.Id comes from AspNetUser table, Id column from Identity; ApplicationUserId is foreign key in Contacts table
        var contact = await DbContext.Contact.FirstOrDefaultAsync(c => c.ApplicationUserId == user.Id);

        //initialize fields with values from user and contact tables
        Input = new InputModel
        {
            FirstName = user.FirstName,
            LastName = user.LastName,
            Phone = user.PhoneNumber,
            AltPhone = contact?.AltPhoneNumber,
            City = contact?.City
        };
    }




@* protected override async Task OnAfterRenderAsync(bool firstRender)
{
    if (!_initialized)
    {
        var authState = await AuthStateProvider.GetAuthenticationStateAsync();
        var user = await UserManager.GetUserAsync(authState.User);
        if (user is null) return;

        var contact = await DbContext.Contact.FirstOrDefaultAsync(c => c.ApplicationUserId == user.Id);

        Input = new InputModel
        {
            FirstName = user.FirstName,
            LastName = user.LastName,
            Phone = user.PhoneNumber,
            AltPhone = contact?.AltPhoneNumber,
            City = contact?.City
        };

        _initialized = true;

        // Tell Blazor to re-render now that input is populated
        StateHasChanged();
    }
} *@



    //create InputModel class to take data from User and Contact

    public class InputModel 
    {
        public string? FirstName { get; set;}
        public string? LastName { get; set;}
        public string? Phone {get; set;}
        public string? AltPhone {get; set;}
        public string? City {get; set;}
    }

    
}
